@{
    Layout = "_Layout";
    var error = ViewBag.Error as string;
}

@section Styles {
    <link rel="stylesheet" href="/css/sign-in.css" />
}

@if (!string.IsNullOrWhiteSpace(error))
{
    <div style="color:red">@error</div>
}

<main class="form-signin w-100 m-auto">
<h1 class="h3 mb-3 fw-normal">Giriş yap</h1>

<form action="/Auth/Login" method="post">
    <div class="form-floating">
        <input
            type="email"
            class="form-control"
            id="floatingInput"
            name="username"
            placeholder="name@example.com"
        />
        <label for="floatingInput">Eposta Adresi</label>
    </div>
    
    <div class="form-floating">
        <input
            type="password"
            class="form-control"
            id="floatingPassword"
            name="password"
            placeholder="Password"
        />
        <label for="floatingPassword">Şifre</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">
        Giriş Yap
    </button>
</form>
    
</main>
